// Variables

$breakpoint576: 575.98px;
$breakpoint768: 767.98px;
$breakpoint992: 991.98px;
$breakpoint1200: 1199.98px;
$breakpoint1450: 1440.98px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: black;
$burgerActiveColor: white;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';
